.name {
    font-family: Papyrus, fantasy;
    font-size: 3rem;
}

* {
    box-sizing: border-box;
}


a {
    color: black;
}

body {
    height: 10vh;
    background-image: url(./images/big-ocean-wave-under-blue-sky.jpg);
    background-size: cover;

}

.links {
    float: right;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
    word-spacing: 20%;
    text-underline-offset: none;


}


.active {
    text-decoration: none;

}

main {
    font-family: Papyrus, fantasy;
    font-size: 1rem;
    margin-top: 5%;
}

.quote {
    font-family: Papyrus, fantasy;
    font-weight: 100;
    color: rgb(10, 10, 10);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
    position: absolute;
    margin-left: 9%;

}

.main2 {
    font-family: Papyrus, fantasy;
    font-size: 15px;
    position: absolute;
    margin-top: 5%;

}


.wrapimages {
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 150px;
    gap: 10px;
}

.wrapimages2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
    size: 200 dvi;
}

img {
    width: 200px;
    height: 160px;
    border: 3px solid blue;

}

#pictitle {
    word-spacing: 45px;
    letter-spacing: -1px;
    font-family: Papyrus, fantasy;
}


#pictitle2 {
    word-spacing: 200px;
    letter-spacing: -2px;
    font-family: Papyrus, fantasy;


}

p {
    font-family: Papyrus, fantasy;
    font-size: 1rem;
    text-align: left;
}